@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Amiri", serif;
  font-weight: 400;
  scroll-behavior:smooth    ;
}
.active {
  background-color: white;
  color: green;
  border-radius: 5px;
  padding: 4px;
}
.title {
  background: #15803D;
  color: white;
}

/* landing */
.par:hover .arrow {
    animation: animate 0.8s infinite;
}

.par::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: green;
    right: -100%;
    top: 0;
    z-index: -1;
    transition: all 1s;
}
.par:hover::after{
    right:  0%;
}

@keyframes animate {
    0% {
        opacity: 0;
       
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
      
    }
}
/* Prayers */
.hadith {
    box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #d1d9e6 inset;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .myShadow {
    box-shadow: 4px 4px 4px 0 rgba(0, 128, 0, 0.452) inset, -4px -4px 4px 0 rgba(0, 128, 0, 0.393) inset;
  }
  /* lines */
  